# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Flask
instance/
.webassets-cache

# Base de datos
*.db
*.sqlite

# Configuración sensible
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Archivos de usuarios (fotos y CVs)
static/usuarios/

# Mantener estructura
!static/usuarios/.gitkeep

#agente de claude
.claude/
